.day-list {

}

.day-resume {
	display: inline-block;
    min-width: 100px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #e3e3e3;
}

.day-resume:hover, .selected {
	border-color: #A63D40;
    background-color: #fff;
}

.day-resume p {
	display: block;
    margin: 0 auto;
}

.badge {
    margin: 0 3px;
}